.header {
	position: fixed;
	top:0;
	left:0;
    max-height: 100px;
    width:100%;
    background-color: #222;
    color:#517CD3;
}
.title{
	padding-top:10px;
}
.message{
	text-align: center;
	position: relative;
	bottom:10px;
}
.score{
	position: relative;
	bottom:70px;
	right:20px;
	text-align: right;
}
