.header {
	position: fixed;
	top:0;
	left:0;
    background-color: #222;
    height: 50px;
    padding: 20px;
    width:100%;
    color:#517CD3;
}
.title{
	float: left;
}
.score{
	position: relative;
	right: 50px;
	float: right;	
	padding: 5px;
}
